doctype html
html(lang='en')
  head
    title GITINFO
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // ===============================================================================================
    link(rel='icon', type='image/png', href='images/icons/favicon.ico')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/bootstrap/css/bootstrap.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/animate/animate.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/css-hamburgers/hamburgers.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/animsition/css/animsition.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/select2/select2.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/daterangepicker/daterangepicker.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='css/util.css')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    // ===============================================================================================
  body
    .container-contact100
      center
        form(style='height:fit-content;', action='/', method='POST')
          div(style='height:fit-content;')
            span.contact100-form-title GIT Profile Information
            .wrap-input100
              input.input100(type='text', name='name', placeholder='Enter your GIT Username')
              span.focus-input100
            .container-contact100-form-btn
              button.contact100-form-btn
                span
                  i.fa.fa-paper-plane-o.m-r-6(aria-hidden='true')
                  |  Submit Username
        br
        form.contact100-form(action='/userpost', method='POST')
          .contact100-form-title
            p(style='font-size:30px;') #{public_repos}
          .contact100-form-title
            p(style='font-size:30px;') #{followers}
          .contact100-form-title
            p(style='font-size:30px;') #{following}
          .container-contact100-form-btn
            button.contact100-form-btn
              span
                i.fa.fa-paper-plane-o.m-r-6(aria-hidden='true')
                |  Push to Database
    #dropDownSelect1
    // ===============================================================================================
    script(src='vendor/jquery/jquery-3.2.1.min.js')
    // ===============================================================================================
    script(src='vendor/animsition/js/animsition.min.js')
    // ===============================================================================================
    script(src='vendor/bootstrap/js/popper.js')
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    // ===============================================================================================
    script(src='vendor/select2/select2.min.js')
    // ===============================================================================================
    script(src='vendor/daterangepicker/moment.min.js')
    script(src='vendor/daterangepicker/daterangepicker.js')
    // ===============================================================================================
    script(src='vendor/countdowntime/countdowntime.js')
    // ===============================================================================================
    script(src='js/main.js')
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-23581568-13')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
      dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-23581568-13");
